version: '3.9'

services:
  influxdb:
    image: influxdb:2
    container_name: influxdb
    ports:
      - '8086:8086'
    volumes:
      - influxdb-data:/var/lib/influxdb2
    env_file:
      - .env
    restart: unless-stopped

volumes:
  influxdb-data:
